body {
  font-family: sans-serif;
  margin: 20px;
}

/* Top row: JSON input & file upload */
.topRow {
  margin-bottom: 20px;
}

.trackImport {
  display: flex;
  margin: 1em 0;
  gap: 20px;
}

.trackImport textarea {
  flex: 1;
  height: 150px;
  font-family: monospace;
  /* eslint-disable css/use-baseline */
  resize: vertical;
}

#fileInput {
  flex: 1;
}

.trackImportRight {
  width: 320px;
  display: flex;
  flex-direction: column;
}

/* Main container: left = map plot; right = editor & 3D preview */
.mainContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.canvasContainer {
  display: flex;
  flex: 1;
}

.canvasContainer canvas {
  border: 1px solid #000;
  cursor: grab;
}

.rightBox {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editorContainer {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.editorContainer input {
  width: 100%;
  box-sizing: border-box;
}

.previewContainer {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.previewContainer canvas {
  display: block;
  margin: auto;
  border: 1px solid #aaa;
}

#mapCanvas {
  width: 100%;
  height: calc(100dvh - 40px);
}
