body {
  font-family: sans-serif;
  margin: 20px;
}

* {
  margin: 0;
}

.topRow p {
  margin: 1em 0;
}

.rightBox p {
  margin: 0.5em 0;
}

/* Top row: JSON input & file upload */
.topRow {
  margin-bottom: 20px;
}

.trackImport {
  display: flex;
  margin: 1em 0;
  gap: 20px;
}

.trackImport textarea {
  flex: 1;
  height: 150px;
  font-family: monospace;
  /* eslint-disable css/use-baseline */
  resize: vertical;
}

#fileInput {
  flex: 1;
}

.trackImportRight {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Main container: left = map plot; right = editor & 3D preview */
.mainContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.canvasContainer {
  display: flex;
  flex: 1;
  position: relative;
}

.canvasContainer canvas {
  border: 1px solid #000;
  cursor: grab;
}

.rightBox {
  height: calc(100dvh - 40px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightBoxScrollable {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.rightBoxScrollable > div {
  width: 324px;
}

.editorContainer {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.editorContainer input {
  width: 100%;
  box-sizing: border-box;
}

.previewContainer {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.previewContainer canvas {
  display: block;
  margin: auto;
  border: 1px solid #aaa;
}

#mapCanvas {
  width: 100%;
  height: calc(100dvh - 40px);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  bottom: 0;
  background: white;
}

.button {
  width: 100%;
}

.itemGap {
  margin-top: 10px;
}

label.itemGap {
  display: block;
}

.input {
  margin-top: 4px;
}
